<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="MCM2MyFilms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <MCM2MyFilms.Properties.Settings>
            <setting name="AMCCatalog" serializeAs="String">
                <value />
            </setting>
            <setting name="FilmDirs" serializeAs="String">
                <value />
            </setting>
            <setting name="MePoThumbsDir" serializeAs="String">
                <value />
            </setting>
            <setting name="FilmExtensions" serializeAs="String">
                <value />
            </setting>
        </MCM2MyFilms.Properties.Settings>
    </userSettings>
</configuration>
