<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MCM2MyFilms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="MCMFieldMappings" type="MCM2MyFilms.MCMFieldMappingsSection, MCM2MyFilms" />
  </configSections>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
      <MCM2MyFilms.Properties.Settings>
          <setting name="AMCCatalog" serializeAs="String">
              <value />
          </setting>
          <setting name="FilmDirs" serializeAs="String">
              <value />
          </setting>
          <setting name="MePoThumbsDir" serializeAs="String">
              <value />
          </setting>
          <setting name="FilmExtensions" serializeAs="String">
              <value />
          </setting>
      </MCM2MyFilms.Properties.Settings>
  </userSettings>
  <MCMFieldMappings>
    <Mapping FieldName="LocalTitle"       MCMFieldNames=""                XPaths="LocalTitle" />
    <Mapping FieldName="OriginalTitle"    MCMFieldNames=""                XPaths="OriginalTitle,originalTitle" />
    <Mapping FieldName="IMDBrating"       MCMFieldNames=""                XPaths="IMDBrating" />
    <Mapping FieldName="ProductionYear"   MCMFieldNames=""                XPaths="ProductionYear" />
    <Mapping FieldName="IMDBId"           MCMFieldNames=""                XPaths="IMDbId" />
    <Mapping FieldName="Language"         MCMFieldNames=""                XPaths="Language" />
    <Mapping FieldName="Country"          MCMFieldNames=""                XPaths="Country" />
    <Mapping FieldName="Description"      MCMFieldNames=""                XPaths="Description" />
    <Mapping FieldName="Director"         MCMFieldNames=""                XPaths="Director" />
    <Mapping FieldName="MPAARating"       MCMFieldNames=""                XPaths="MPAARating" />
    <Mapping FieldName="FullCertifications" MCMFieldNames=""              XPaths="FullCertifications" />
    <Mapping FieldName="BackdropURL"      MCMFieldNames=""                XPaths="BackdropURL" />
    <Mapping FieldName="WritersList"      MCMFieldNames=""                XPaths="WritersList" />
    <Mapping FieldName="Tagline"          MCMFieldNames="Tagline,TagLine" XPaths="{MCMFieldName}" />
    <Mapping FieldName="PersonCollection" MCMFieldNames=""                XPaths="Persons/Person" />
    <Mapping FieldName="PersonName"       MCMFieldNames=""                XPaths="Name" />
    <Mapping FieldName="PersonType"       MCMFieldNames=""                XPaths="Type" />
    <Mapping FieldName="PersonRole"       MCMFieldNames=""                XPaths="Role" />
    <Mapping FieldName="GenresCollection" MCMFieldNames=""                XPaths="Genres/Genre" />
    <Mapping FieldName="StudiosCollection" MCMFieldNames=""               XPaths="Studios/Studio" />
  </MCMFieldMappings>
</configuration>
