<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MCM2MyFilms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="MCMFieldMappings" type="MCM2MyFilms.MCMFieldMappingsSection, MCM2MyFilms" />
  </configSections>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
      <MCM2MyFilms.Properties.Settings>
          <setting name="AMCCatalog" serializeAs="String">
              <value />
          </setting>
          <setting name="FilmDirs" serializeAs="String">
              <value />
          </setting>
          <setting name="MePoThumbsDir" serializeAs="String">
              <value />
          </setting>
          <setting name="FilmExtensions" serializeAs="String">
              <value />
          </setting>
      </MCM2MyFilms.Properties.Settings>
  </userSettings>
  <MCMFieldMappings>
    <Mapping FieldName="LocalTitle" MCMFieldNames="LocalTitle" XPath="" />
    <Mapping FieldName="OriginalTitle" MCMFieldNames="OriginalTitle" XPath="" />
    <Mapping FieldName="IMDBrating" MCMFieldNames="IMDBrating" XPath="" />
    <Mapping FieldName="ProductionYear" MCMFieldNames="ProductionYear" XPath="" />
    <Mapping FieldName="IMDBId" MCMFieldNames="IMDbId" XPath="" />
    <Mapping FieldName="Language" MCMFieldNames="Language" XPath="" />
    <Mapping FieldName="Country" MCMFieldNames="Country" XPath="" />
    <Mapping FieldName="Description" MCMFieldNames="Description" XPath="" />
    <Mapping FieldName="Director" MCMFieldNames="Director" XPath="" />
    <Mapping FieldName="Tagline" MCMFieldNames="Tagline,TagLine" XPath="" />
    <Mapping FieldName="PersonCollection" MCMFieldNames="Person" XPath="Persons/" />
    <Mapping FieldName="PersonName" MCMFieldNames="Name" XPath="" />
    <Mapping FieldName="PersonType" MCMFieldNames="Type" XPath="" />
    <Mapping FieldName="PersonRole" MCMFieldNames="Role" XPath="" />
    <Mapping FieldName="GenresCollection" MCMFieldNames="Genre" XPath="Genres/" />
  </MCMFieldMappings>
</configuration>
